<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
 	<servlet-name>userServlet</servlet-name>
 	<servlet-class>cdio.service.implementation.UserServiceImpl</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>rawMaterialServlet</servlet-name>
 	<servlet-class>cdio.service.implementation.RawMaterialServiceImpl</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>rawMaterialBatchServlet</servlet-name>
 	<servlet-class>cdio.service.implementation.RawMaterialBatchServiceImpl</servlet-class>
 </servlet>
  <servlet>
 	<servlet-name>prescriptionServlet</servlet-name>
 	<servlet-class>cdio.service.implementation.PrescriptionServiceImpl</servlet-class>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>userServlet</servlet-name>
 	<url-pattern>/Group14_CDIOFinal/userService</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>rawMaterialServlet</servlet-name>
 	<url-pattern>/Group14_CDIOFinal/rawMaterialService</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>rawMaterialBatchServlet</servlet-name>
 	<url-pattern>/Group14_CDIOFinal/rawMaterialBatchService</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>prescriptionServlet</servlet-name>
 	<url-pattern>/Group14_CDIOFinal/prescriptionhService</url-pattern>
 </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Group14_CDIOFinal.html</welcome-file>
  </welcome-file-list>

</web-app>
